.header{
    width: 100%;
    background-color: transparent;
    padding: 25px 0;
    position: fixed;
    top: 0;
    z-index: 9999;
    transition: 0.3s all;
    background-color: $background-gray;
 
    &.active{
        background-color: $background-gray5;
        padding: 10px 0;
        & .navigation_menu{
            align-items: center;
        }
    }
}
.navigation{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &_logo{
        width: 176px;
        height: auto;
        object-fit: cover;
        cursor: pointer;
    }
    &_menu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-grow: 0.5;
        @include sm {
            width: 260px;
            flex-direction: column;
            flex-grow: 0;
            position: absolute;
            right: 0;
            top: 100%;
            background-color: $background-gray5;
            padding: 47px 10px 38px;
            border-radius: 0px 0px 0px 20px;
        }
        &_list{
            display: flex;
            align-items: center;
            @include sm {
                flex-direction: column;
            }
            &_link{
                position: relative;
                font-size: 14px;
                line-height: 19px;
                color: $color-white;
                cursor: pointer;
                margin-right: 35px;
                transition: 0.3s all;
                @include sm {
                    font-size: 16px;
                    text-align: center;
                    max-width: 200px;
                    margin: 0 0 31px;
                    text-transform: uppercase;
                    font-weight: 800;
                }
                &:after{
                    content: ' ';
                    position: absolute;
                    left: 0;
                    top: 100%;
                    width: 0;
                    height: 1px;
                    background-color: $color-red;
                    transition: 0.3s all;
                }
                &:hover{
                    cursor: pointer;
                    color: $color-red;
                    &:after{
                        width: 100%;
                    }
                }
            }
        }
        &_language{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            &_link{
                font-size: 14px;
                line-height: 19px;
                color: $color-white;
                font-weight: 600;
                transition: 0.3s all;
                @include sm {

                }
                &_between{
                    margin: 0 auto;
                    margin-inline-start: 0;
                    margin-inline-end: 0;
                }
                &_active, &:hover{
                    cursor: pointer;
                    color: $color-red;
                }
            }
        }
    }
}

.slider_cont_list{
    @include sm {
        flex-direction: column!important;
    }
}
.slider_cont_list_column{
    @include sm {
        padding-right: 0!important;
    }
}

.slider-img-cont{
    @include sm {
       margin: 20px auto 0;
    }
}

.slider_cont_list_img{
    @include sm {
        width: 100%!important;
        max-width: 350px;
    }
}

.mobile-block{
    display: none;
    .sm{
        display: flex;
    }
}

.mobile-none{
    display: flex;
    .sm{
        display: none;
    }
}